.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: #6900ab; /* Color de fondo del banner */
    color: white; /* Color del texto del banner */
    padding: 10px; /* Espaciado interno del banner */
}
.banner a{
    display: inline-block;
}
.icono{
    text-align: right;
}
.casa{
    text-align: left;
    width: 91%;
}
body {
    background-image: url(Cosmere.jpg);
    font-family: sans-serif;
    padding: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.fondo{
    width: 80%;
    background-color: rgb(38, 29, 69);
    margin-left: auto;
    margin-right: auto;    
    padding: 20px;
    max-width: 650px;
    border-radius: 20px;
}

h1,h2,h3{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: white;
}
.subtitulo{
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    font-style: italic;
}
p {
    font-size: 90%;
    font-family:'Times New Roman', Times, serif;
    color: white;

}
hr{
    height: 1px;
    background-color: white;
    border-color: white;
    margin-top: 20px;
    }
.titulo{
    padding-top: 10px;
    text-shadow: 1px 2px 4px grey;
}
.Autor {
    margin-left: 5%;
}

.entrada,ol{
    line-height: 25px;
    text-align:justify;
    margin-left: 5%;
    margin-right: 5%;
}
ol{
    line-height: 25px;
    padding-bottom: 10px;
}
footer{
    text-align: center;
    font-size: 12px;   
}
a {
    color: rgb(173, 246, 246);
}
a:visited {
    color: rgb(173, 246, 218);
  }
  
  a:hover {
    color: rgb(223, 13, 191);
  }
  
  a:active {
    color: rgb(173, 246, 246);
  }
.botones a {
    display: inline-block;
 }
.anterior {
    
    text-align: left;
    width: 49%;
}
  
.siguiente {
    text-align: right;
    width: 49%;
 }
 .container {
    text-align: center;
}

.container img {
    display: block;
    margin: 0 auto;
}
.sagas {
    font-size: 90%;
    font-family:'Times New Roman', Times, serif;
    line-height: 25px;
}
img {
    padding-bottom: 10px;
}